HOSTNAME="localhost"

NGINX_PORT="2345"

DJANGO_PORT="2344"
DJANGO_SUPERUSER_EMAIL=""
DJANGO_SUPERUSER_PASSWORD=""

POSTGRES_PORT="5432"
POSTGRES_DB="reflected_db"
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_HOST="postgres"