/* .button {
  border-radius: 8px;
  transition: 0.5s;
}

.button:hover {
  background-color: var(--color-main-15);
}

.button:active {
  background-color: var(--color-main-30);
  transition: 0s;
} */

.btn-navbar {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.btn-navbar:hover {
  background-color: var(--color-black-10);
}

.btn-navbar:active {
  background-color: var(--color-black-50);
}

.btn-primary {
  background-color: white;
  color: black;
  border-radius: 16px;
  border-style: hidden;
  width: 272px;
  height: 56px;
}

#btn-oauth-ft.btn-primary:hover {
  background-color: black;
}

#btn-oauth-google.btn-primary:hover {
  background-color: rgb(59, 89, 211);
}

#btn-oauth-naver.btn-primary:hover {
  background-color: green;
}

.btn-primary:hover {
  background-color: var(--color-black-10);
}

.btn-primary:active {
  background-color: var(--color-black-10);
}

.navbar-toggler {
  /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
}

.navbar-toggler:hover,
.navbar-toggler:active {
  background: rgba(37, 37, 37, 0.1);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.btn-secondary {
  background-color: rgba(255, 255, 255, 0);
}

.btn-secondary:hover,
.btn-secondary:active {
  background: rgba(37, 37, 37, 0.1);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}
