@import url("/src/styles/base/variables.css");

.list {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: transparent;

  border-radius: 1rem;
  border-width: 0rem;
}

.list:hover {
  background-color: var(--color-black-10);
}

.list:active {
  background-color: var(--color-black-20);
}

#gameroom-list {
  overflow: auto;
  height: calc(100vh - 280px);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#gameroom-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
