@import url("/src/styles/base/variables.css");

.list {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: transparent;

  border-radius: 1rem;
  border-width: 0rem;
}
